## Assignment_6.11442

### Read the dataset from the below link 

https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US _Baby_Names/US_Baby_Names_right.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

In [3]:
df.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### 1. Delete unnamed columns

In [4]:
df.columns.values

array(['Unnamed: 0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count'],
      dtype=object)

In [5]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

### 2. Show the distribution of male and female

In [6]:
df.groupby('Gender').Count.describe()

           count       mean         std  min  25%   50%   75%     max
Gender
F       558846.0  29.310925   75.962992  5.0  6.0  10.0  23.0  3634.0
M       457549.0  41.615650  118.074308  5.0  7.0  12.0  29.0  4167.0

In [7]:
df.groupby('Gender').Gender.count()

Gender
F    558846
M    457549
Name: Gender, dtype: int64

### 3. Show the top 5 most preferred names

In [8]:
a = df.groupby('Name').sum().sort_values(by=['Count'], ascending=False)
b = a.Count.sort_values(ascending=False)
a.head()

                  Id     Year   Count
Name
Jacob     1665681356  1141099  242874
Emma      1629482250  1137085  214852
Michael   1687521295  1161152  214405
Ethan     1660808475  1139091  209277
Isabella  1630131786  1137090  204798

In [9]:
g = df.groupby("Name").sum().sort_values(by=['Count'], ascending=False)
g.head()

                  Id     Year   Count
Name
Jacob     1665681356  1141099  242874
Emma      1629482250  1137085  214852
Michael   1687521295  1161152  214405
Ethan     1660808475  1139091  209277
Isabella  1630131786  1137090  204798

In [10]:
b = df.groupby('Name')
b.Count.sum().sort_values(ascending=False).head()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

### 4. What is the median name occurence in the dataset

In [11]:
df.median()

Id       2811921.0
Year        2009.0
Count         11.0
dtype: float64

In [12]:
df.iloc[df.reset_index().median()['index'].astype(int)]

Id        2811921
Name        Kasey
Year         2010
Gender          F
State          MO
Count           6
Name: 508197, dtype: object

In [13]:
df.iloc[df.reset_index().median()['index'].astype(int)].Name

'Kasey'

In [14]:
df.loc[df.Id == df.Id.median()]

             Id   Name  Year Gender State  Count
508197  2811921  Kasey  2010      F    MO      6

In [15]:
df.Name.loc[df.Id == df.Id.median()]

508197    Kasey
Name: Name, dtype: object

In [16]:
df.loc[df.Id == df.Id.median()].Name

508197    Kasey
Name: Name, dtype: object

### 5. Distribution of male and female born count by states

In [17]:
df.groupby(['State','Gender']).describe()

                Count                                                       \
                count       mean         std  min  25%   50%   75%     max
State Gender
AK    F        2404.0  10.919301    8.159519  5.0  6.0   8.0  13.0    62.0
      M        2587.0  14.456513   11.295679  5.0  6.0  10.0  19.0    67.0
AL    F        9878.0  21.796720   34.348342  5.0  6.0  10.0  21.0   403.0
      M        8419.0  30.896068   52.796016  5.0  7.0  12.0  27.0   639.0
AR    F        7171.0  18.088412   23.925343  5.0  6.0  10.0  19.0   281.0
      M        6475.0  25.165560   33.510502  5.0  7.0  11.0  27.0   270.0
AZ    F       14518.0  25.386899   43.385838  5.0  7.0  11.0  23.0   604.0
      M       10820.0  40.636876   72.904882  5.0  7.0  12.0  37.0   656.0
CA    F       45144.0  53.474725  164.342504  5.0  7.0  12.0  32.0  3634.0
      M       31637.0  84.413314  281.483774  5.0  7.0  12.0  35.0  4167.0
CO    F       11424.0  22.829569   34.731560  5.0  6.0  10.0  23.0   349.0
      M        9183.0  34.131003   53.195414  5.0  7.0  13.0  34.0   423.0
CT    F        6575.0  21.498099   31.547791  5.0  6.0  10.0  22.0   309.0
      M        5733.0  29.896564   46.991651  5.0  6.0  11.0  27.0   408.0
DC    F        3053.0  11.554537    8.260903  5.0  6.0   8.0  14.0    58.0
      M        3000.0  15.742667   14.923271  5.0  6.0  10.0  19.0   111.0
DE    F        2549.0  12.284033   10.549546  5.0  6.0   8.0  14.0    73.0
      M        2440.0  17.109836   15.411568  5.0  6.0  10.0  23.0   101.0
FL    F       25781.0  35.507622   87.603032  5.0  6.0  11.0  27.0  1835.0
      M       20070.0  52.862830  135.487062  5.0  7.0  12.0  33.0  1589.0
GA    F       19385.0  28.353727   55.278009  5.0  6.0  11.0  24.0   854.0
      M       15454.0  41.124046   88.847410  5.0  7.0  12.0  30.0  1175.0
HI    F        3255.0  11.452842    9.335061  5.0  6.0   8.0  13.0    94.0
      M        3546.0  14.982234   14.196444  5.0  6.0   9.0  18.0   113.0
IA    F        7131.0  20.300659   28.530600  5.0  6.0  10.0  21.0   355.0
      M        6307.0  27.589821   36.479782  5.0  7.0  12.0  30.0   297.0
ID    F        4918.0  14.804392   15.901260  5.0  6.0   9.0  17.0   151.0
      M        4833.0  19.515829   20.271762  5.0  7.0  11.0  23.0   162.0
IL    F       21268.0  32.692872   70.718306  5.0  7.0  11.0  26.0  1083.0
      M       16828.0  47.045341  108.095497  5.0  7.0  12.0  32.0  1266.0
...               ...        ...         ...  ...  ...   ...   ...     ...
OK    F        9519.0  19.431348   27.803941  5.0  6.0  10.0  20.0   330.0
      M        8138.0  28.092037   39.646478  5.0  7.0  12.0  28.0   376.0
OR    F        8604.0  20.003603   27.897524  5.0  6.0  10.0  20.0   297.0
      M        7333.0  28.561980   38.984017  5.0  7.0  13.0  31.0   290.0
PA    F       17480.0  33.946339   74.396859  5.0  7.0  11.0  27.0  1023.0
      M       14171.0  48.176487  111.825568  5.0  7.0  12.0  30.0  1240.0
RI    F        2558.0  13.901486   14.295709  5.0  6.0   9.0  15.0   118.0
      M        2468.0  19.424230   19.110911  5.0  7.0  11.0  25.0   119.0
SC    F        9465.0  20.910407   31.295391  5.0  6.0  10.0  20.0   390.0
      M        8195.0  28.974009   47.949952  5.0  7.0  11.0  25.0   500.0
SD    F        2838.0  12.016913   10.194706  5.0  6.0   8.0  14.0    81.0
      M        2908.0  15.626891   12.846614  5.0  6.0  10.0  20.0    96.0
TN    F       13063.0  25.758784   46.786712  5.0  6.0  10.0  23.0   601.0
      M       10588.0  37.647809   70.821057  5.0  7.0  12.0  30.0   832.0
TX    F       39760.0  44.926585  122.912111  5.0  7.0  12.0  30.0  2480.0
      M       27791.0  72.159836  207.064632  5.0  7.0  12.0  37.0  2897.0
UT    F        9515.0  21.323384   30.508703  5.0  6.0  10.0  22.0   381.0
      M        8233.0  29.797644   42.759695  5.0  7.0  12.0  31.0   413.0
VA    F       14759.0  27.474964   50.888480  5.0  6.0  11.0  24.0   645.0
      M       11997.0  38.915812   79.707097  5.0  7.0  11.0  28.0   749.0
VT    F        1398.0  10.786123    8.166093  5.0  6.0   8.0  12.0    72.0
      M        1618.0  13.197157    9.049924  5.0  6.0  10.0  17.0    65.0
WA    F       13329.0  25.128967   42.857074  5.0  6.0  11.0  24.0   487.0
      M       11049.0  35.783962   61.709543  5.0  7.0  12.0  33.0   516.0
WI    F       10549.0  25.113376   41.956539  5.0  6.0  11.0  24.0   474.0
      M        8940.0  34.872260   59.050827  5.0  7.0  12.0  31.0   543.0
WV    F        4305.0  17.142857   21.097496  5.0  6.0  10.0  19.0   214.0
      M        3733.0  25.062148   28.858414  5.0  7.0  12.0  31.0   260.0
WY    F        1456.0   9.688874    6.145770  5.0  6.0   7.0  11.0    44.0
      M        1904.0  11.508403    7.111006  5.0  6.0   9.0  15.0    44.0

                   Id              ...                              Year  \
                count       mean   ...           75%        max    count
State Gender                       ...
AK    F        2404.0    12551.5   ...      13152.25    13753.0   2404.0
      M        2587.0    25370.0   ...      26016.50    26663.0   2587.0
AL    F        9878.0    90182.5   ...      92651.75    95121.0   9878.0
      M        8419.0   149248.0   ...     151352.50   153457.0   8419.0
AR    F        7171.0   201724.0   ...     203516.50   205309.0   7171.0
      M        6475.0   246457.0   ...     248075.50   249694.0   6475.0
AZ    F       14518.0   302510.5   ...     306139.75   309769.0  14518.0
      M       10820.0   350607.5   ...     353312.25   356017.0  10820.0
CA    F       45144.0   542907.5   ...     554193.25   565479.0  45144.0
      M       31637.0   694412.0   ...     702321.00   710230.0  31637.0
CO    F       11424.0   760002.5   ...     762858.25   765714.0  11424.0
      M        9183.0   805114.0   ...     807409.50   809705.0   9183.0
CT    F        6575.0   849706.0   ...     851349.50   852993.0   6575.0
      M        5733.0   883761.0   ...     885194.00   886627.0   5733.0
DC    F        3053.0   913278.0   ...     914041.00   914804.0   3053.0
      M        3000.0   938455.5   ...     939205.25   939955.0   3000.0
DE    F        2549.0   955062.0   ...     955699.00   956336.0   2549.0
      M        2440.0   969158.5   ...     969768.25   970378.0   2440.0
FL    F       25781.0  1063986.0   ...    1070431.00  1076876.0  25781.0
      M       20070.0  1147910.5   ...    1152927.75  1157945.0  20070.0
GA    F       19385.0  1241018.0   ...    1245864.00  1250710.0  19385.0
      M       15454.0  1319201.5   ...    1323064.75  1326928.0  15454.0
HI    F        3255.0  1352995.0   ...    1353808.50  1354622.0   3255.0
      M        3546.0  1377224.5   ...    1378110.75  1378997.0   3546.0
IA    F        7131.0  1424324.0   ...    1426106.50  1427889.0   7131.0
      M        6307.0  1463975.0   ...    1465551.50  1467128.0   6307.0
ID    F        4918.0  1492967.5   ...    1494196.75  1495426.0   4918.0
      M        4833.0  1518841.0   ...    1520049.00  1521257.0   4833.0
IL    F       21268.0  1634111.5   ...    1639428.25  1644745.0  21268.0
      M       16828.0  1727452.5   ...    1731659.25  1735866.0  16828.0
...               ...        ...   ...           ...        ...      ...
OK    F        9519.0  4106573.0   ...    4108952.50  4111332.0   9519.0
      M        8138.0  4156353.5   ...    4158387.75  4160422.0   8138.0
OR    F        8604.0  4201859.5   ...    4204010.25  4206161.0   8604.0
      M        7333.0  4238918.0   ...    4240751.00  4242584.0   7333.0
PA    F       17480.0  4341028.5   ...    4345398.25  4349768.0  17480.0
      M       14171.0  4421214.0   ...    4424756.50  4428299.0  14171.0
RI    F        2558.0  4448650.5   ...    4449289.75  4449929.0   2558.0
      M        2468.0  4465392.5   ...    4466009.25  4466626.0   2468.0
SC    F        9465.0  4521343.0   ...    4523709.00  4526075.0   9465.0
      M        8195.0  4573429.0   ...    4575477.50  4577526.0   8195.0
SD    F        2838.0  4599726.5   ...    4600435.75  4601145.0   2838.0
      M        2908.0  4621081.5   ...    4621808.25  4622535.0   2908.0
TN    F       13063.0  4688188.0   ...    4691453.50  4694719.0  13063.0
      M       10588.0  4747787.5   ...    4750434.25  4753081.0  10588.0
TX    F       39760.0  4917974.5   ...    4927914.25  4937854.0  39760.0
      M       27791.0  5063319.0   ...    5070266.50  5077214.0  27791.0
UT    F        9515.0  5117348.0   ...    5119726.50  5122105.0   9515.0
      M        8233.0  5155668.0   ...    5157726.00  5159784.0   8233.0
VA    F       14759.0  5227113.0   ...    5230802.50  5234492.0  14759.0
      M       11997.0  5290402.0   ...    5293401.00  5296400.0  11997.0
VT    F        1398.0  5310431.5   ...    5310780.75  5311130.0   1398.0
      M        1618.0  5323325.5   ...    5323729.75  5324134.0   1618.0
WA    F       13329.0  5382088.0   ...    5385420.00  5388752.0  13329.0
      M       11049.0  5432850.0   ...    5435612.00  5438374.0  11049.0
WI    F       10549.0  5493430.0   ...    5496067.00  5498704.0  10549.0
      M        8940.0  5542253.5   ...    5544488.25  5546723.0   8940.0
WV    F        4305.0  5585097.0   ...    5586173.00  5587249.0   4305.0
      M        3733.0  5618646.0   ...    5619579.00  5620512.0   3733.0
WY    F        1456.0  5633396.5   ...    5633760.25  5634124.0   1456.0
      M        1904.0  5646474.5   ...    5646950.25  5647426.0   1904.0


                     mean       std     min     25%     50%     75%     max
State Gender
AK    F       2009.096922  3.159804  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.216467  3.148231  2004.0  2007.0  2009.0  2012.0  2014.0
AL    F       2009.041405  3.129743  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.064378  3.127547  2004.0  2006.0  2009.0  2012.0  2014.0
AR    F       2009.044066  3.138195  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.076757  3.134629  2004.0  2006.0  2009.0  2012.0  2014.0
AZ    F       2008.934977  3.132145  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.048244  3.130563  2004.0  2006.0  2009.0  2012.0  2014.0
CA    F       2008.959086  3.139356  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.050510  3.139139  2004.0  2006.0  2009.0  2012.0  2014.0
CO    F       2009.030637  3.150814  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.099423  3.140163  2004.0  2006.0  2009.0  2012.0  2014.0
CT    F       2008.968213  3.140226  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.031920  3.148487  2004.0  2006.0  2009.0  2012.0  2014.0
DC    F       2009.058958  3.200968  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2008.964667  3.166295  2004.0  2006.0  2009.0  2012.0  2014.0
DE    F       2009.002354  3.171695  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.088115  3.157091  2004.0  2006.0  2009.0  2012.0  2014.0
FL    F       2009.013266  3.140327  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.069557  3.141401  2004.0  2006.0  2009.0  2012.0  2014.0
GA    F       2008.965128  3.135050  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.006083  3.127145  2004.0  2006.0  2009.0  2012.0  2014.0
HI    F       2008.922273  3.158453  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.083756  3.174747  2004.0  2006.0  2009.0  2012.0  2014.0
IA    F       2009.087225  3.146087  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.163469  3.156165  2004.0  2006.0  2009.0  2012.0  2014.0
ID    F       2008.994713  3.122731  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.084213  3.135553  2004.0  2006.0  2009.0  2012.0  2014.0
IL    F       2008.960128  3.132654  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.012479  3.129515  2004.0  2006.0  2009.0  2012.0  2014.0
...                   ...       ...     ...     ...     ...     ...     ...
OK    F       2009.060616  3.116294  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.144876  3.122862  2004.0  2007.0  2009.0  2012.0  2014.0
OR    F       2009.048466  3.143453  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.104732  3.130320  2004.0  2006.0  2009.0  2012.0  2014.0
PA    F       2009.055263  3.137509  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.119187  3.144931  2004.0  2006.0  2009.0  2012.0  2014.0
RI    F       2008.865520  3.165599  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2008.989060  3.158988  2004.0  2006.0  2009.0  2012.0  2014.0
SC    F       2009.056524  3.117364  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.053203  3.137769  2004.0  2006.0  2009.0  2012.0  2014.0
SD    F       2009.069063  3.148340  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.163686  3.166087  2004.0  2006.0  2009.0  2012.0  2014.0
TN    F       2009.096609  3.133947  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.150548  3.131965  2004.0  2006.0  2009.0  2012.0  2014.0
TX    F       2009.077314  3.135698  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.122953  3.139144  2004.0  2006.0  2009.0  2012.0  2014.0
UT    F       2009.030163  3.128835  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.123284  3.129879  2004.0  2006.0  2009.0  2012.0  2014.0
VA    F       2009.043499  3.138317  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.085355  3.141895  2004.0  2006.0  2009.0  2012.0  2014.0
VT    F       2008.869814  3.186665  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2008.994438  3.189437  2004.0  2006.0  2009.0  2012.0  2014.0
WA    F       2009.111861  3.115092  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.179202  3.120109  2004.0  2007.0  2009.0  2012.0  2014.0
WI    F       2009.071760  3.110448  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.125168  3.133580  2004.0  2006.0  2009.0  2012.0  2014.0
WV    F       2009.054123  3.142909  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.131262  3.165990  2004.0  2006.0  2009.0  2012.0  2014.0
WY    F       2008.974588  3.130392  2004.0  2006.0  2009.0  2012.0  2014.0
      M       2009.046744  3.138830  2004.0  2006.0  2009.0  2012.0  2014.0

[102 rows x 24 columns]

In [18]:
df.groupby(['State','Gender']).describe().Count

                count       mean         std  min  25%   50%   75%     max
State Gender
AK    F        2404.0  10.919301    8.159519  5.0  6.0   8.0  13.0    62.0
      M        2587.0  14.456513   11.295679  5.0  6.0  10.0  19.0    67.0
AL    F        9878.0  21.796720   34.348342  5.0  6.0  10.0  21.0   403.0
      M        8419.0  30.896068   52.796016  5.0  7.0  12.0  27.0   639.0
AR    F        7171.0  18.088412   23.925343  5.0  6.0  10.0  19.0   281.0
      M        6475.0  25.165560   33.510502  5.0  7.0  11.0  27.0   270.0
AZ    F       14518.0  25.386899   43.385838  5.0  7.0  11.0  23.0   604.0
      M       10820.0  40.636876   72.904882  5.0  7.0  12.0  37.0   656.0
CA    F       45144.0  53.474725  164.342504  5.0  7.0  12.0  32.0  3634.0
      M       31637.0  84.413314  281.483774  5.0  7.0  12.0  35.0  4167.0
CO    F       11424.0  22.829569   34.731560  5.0  6.0  10.0  23.0   349.0
      M        9183.0  34.131003   53.195414  5.0  7.0  13.0  34.0   423.0
CT    F        6575.0  21.498099   31.547791  5.0  6.0  10.0  22.0   309.0
      M        5733.0  29.896564   46.991651  5.0  6.0  11.0  27.0   408.0
DC    F        3053.0  11.554537    8.260903  5.0  6.0   8.0  14.0    58.0
      M        3000.0  15.742667   14.923271  5.0  6.0  10.0  19.0   111.0
DE    F        2549.0  12.284033   10.549546  5.0  6.0   8.0  14.0    73.0
      M        2440.0  17.109836   15.411568  5.0  6.0  10.0  23.0   101.0
FL    F       25781.0  35.507622   87.603032  5.0  6.0  11.0  27.0  1835.0
      M       20070.0  52.862830  135.487062  5.0  7.0  12.0  33.0  1589.0
GA    F       19385.0  28.353727   55.278009  5.0  6.0  11.0  24.0   854.0
      M       15454.0  41.124046   88.847410  5.0  7.0  12.0  30.0  1175.0
HI    F        3255.0  11.452842    9.335061  5.0  6.0   8.0  13.0    94.0
      M        3546.0  14.982234   14.196444  5.0  6.0   9.0  18.0   113.0
IA    F        7131.0  20.300659   28.530600  5.0  6.0  10.0  21.0   355.0
      M        6307.0  27.589821   36.479782  5.0  7.0  12.0  30.0   297.0
ID    F        4918.0  14.804392   15.901260  5.0  6.0   9.0  17.0   151.0
      M        4833.0  19.515829   20.271762  5.0  7.0  11.0  23.0   162.0
IL    F       21268.0  32.692872   70.718306  5.0  7.0  11.0  26.0  1083.0
      M       16828.0  47.045341  108.095497  5.0  7.0  12.0  32.0  1266.0
...               ...        ...         ...  ...  ...   ...   ...     ...
OK    F        9519.0  19.431348   27.803941  5.0  6.0  10.0  20.0   330.0
      M        8138.0  28.092037   39.646478  5.0  7.0  12.0  28.0   376.0
OR    F        8604.0  20.003603   27.897524  5.0  6.0  10.0  20.0   297.0
      M        7333.0  28.561980   38.984017  5.0  7.0  13.0  31.0   290.0
PA    F       17480.0  33.946339   74.396859  5.0  7.0  11.0  27.0  1023.0
      M       14171.0  48.176487  111.825568  5.0  7.0  12.0  30.0  1240.0
RI    F        2558.0  13.901486   14.295709  5.0  6.0   9.0  15.0   118.0
      M        2468.0  19.424230   19.110911  5.0  7.0  11.0  25.0   119.0
SC    F        9465.0  20.910407   31.295391  5.0  6.0  10.0  20.0   390.0
      M        8195.0  28.974009   47.949952  5.0  7.0  11.0  25.0   500.0
SD    F        2838.0  12.016913   10.194706  5.0  6.0   8.0  14.0    81.0
      M        2908.0  15.626891   12.846614  5.0  6.0  10.0  20.0    96.0
TN    F       13063.0  25.758784   46.786712  5.0  6.0  10.0  23.0   601.0
      M       10588.0  37.647809   70.821057  5.0  7.0  12.0  30.0   832.0
TX    F       39760.0  44.926585  122.912111  5.0  7.0  12.0  30.0  2480.0
      M       27791.0  72.159836  207.064632  5.0  7.0  12.0  37.0  2897.0
UT    F        9515.0  21.323384   30.508703  5.0  6.0  10.0  22.0   381.0
      M        8233.0  29.797644   42.759695  5.0  7.0  12.0  31.0   413.0
VA    F       14759.0  27.474964   50.888480  5.0  6.0  11.0  24.0   645.0
      M       11997.0  38.915812   79.707097  5.0  7.0  11.0  28.0   749.0
VT    F        1398.0  10.786123    8.166093  5.0  6.0   8.0  12.0    72.0
      M        1618.0  13.197157    9.049924  5.0  6.0  10.0  17.0    65.0
WA    F       13329.0  25.128967   42.857074  5.0  6.0  11.0  24.0   487.0
      M       11049.0  35.783962   61.709543  5.0  7.0  12.0  33.0   516.0
WI    F       10549.0  25.113376   41.956539  5.0  6.0  11.0  24.0   474.0
      M        8940.0  34.872260   59.050827  5.0  7.0  12.0  31.0   543.0
WV    F        4305.0  17.142857   21.097496  5.0  6.0  10.0  19.0   214.0
      M        3733.0  25.062148   28.858414  5.0  7.0  12.0  31.0   260.0
WY    F        1456.0   9.688874    6.145770  5.0  6.0   7.0  11.0    44.0
      M        1904.0  11.508403    7.111006  5.0  6.0   9.0  15.0    44.0

[102 rows x 8 columns]

In [19]:
df.groupby(['State','Gender']).describe().Count['count']

State  Gender
AK     F          2404.0
       M          2587.0
AL     F          9878.0
       M          8419.0
AR     F          7171.0
       M          6475.0
AZ     F         14518.0
       M         10820.0
CA     F         45144.0
       M         31637.0
CO     F         11424.0
       M          9183.0
CT     F          6575.0
       M          5733.0
DC     F          3053.0
       M          3000.0
DE     F          2549.0
       M          2440.0
FL     F         25781.0
       M         20070.0
GA     F         19385.0
       M         15454.0
HI     F          3255.0
       M          3546.0
IA     F          7131.0
       M          6307.0
ID     F          4918.0
       M          4833.0
IL     F         21268.0
       M         16828.0
                  ...
OK     F          9519.0
       M          8138.0
OR     F          8604.0
       M          7333.0
PA     F         17480.0
       M         14171.0
RI     F          2558.0
       M          2468.0
SC     F          9465.0
       M          8195.0
SD     F          2838.0
       M          2908.0
TN     F         13063.0
       M         10588.0
TX     F         39760.0
       M         27791.0
UT     F          9515.0
       M          8233.0
VA     F         14759.0
       M         11997.0
VT     F          1398.0
       M          1618.0
WA     F         13329.0
       M         11049.0
WI     F         10549.0
       M          8940.0
WV     F          4305.0
       M          3733.0
WY     F          1456.0
       M          1904.0
Name: count, Length: 102, dtype: float64

In [20]:
s = df.groupby(['State','Gender']).sum()
s.Count

State  Gender
AK     F           26250
       M           37399
AL     F          215308
       M          260114
AR     F          129712
       M          162947
AZ     F          368567
       M          439691
CA     F         2414063
       M         2670584
CO     F          260805
       M          313425
CT     F          141350
       M          171397
DC     F           35276
       M           47228
DE     F           31312
       M           41748
FL     F          915422
       M         1060957
GA     F          549637
       M          635531
HI     F           37279
       M           53127
IA     F          144764
       M          174009
ID     F           72808
       M           94320
IL     F          695312
       M          791679
                  ...
OK     F          184967
       M          228613
OR     F          172111
       M          209445
PA     F          593382
       M          682709
RI     F           35560
       M           47939
SC     F          197917
       M          237442
SD     F           34104
       M           45443
TN     F          336487
       M          398615
TX     F         1786281
       M         2005394
UT     F          202892
       M          245324
VA     F          405503
       M          466873
VT     F           15079
       M           21353
WA     F          334944
       M          395377
WI     F          264921
       M          311758
WV     F           73800
       M           93557
WY     F           14107
       M           21912
Name: Count, Length: 102, dtype: int64